<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
    >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <a href="/home"><button type="button" class="btn btn-primary go-back">torna indietro </button></a>
    <div class="container">
        <div style="text-align: center">
            <h2 class="display-6">Cursos</h2>
        </div>
        <ul class="list-group my-2">
            <li class="list-group-item d-flex" th:each="course: ${courseList}">
                <a class="flex-grow-1" th:href="@{/courses/{courseId}/students(courseId = ${course.id})}" th:text="${course.level}"></a>
                <a class="mx-2" th:href="@{/courses/{courseId}/edit(courseId = ${course.id})}">Edit</a>
                <a class="mx-2" th:href="@{/courses/{courseId}/delete(courseId = ${course.id})}">Delete</a>
            </li>
        </ul>
        <div>
            <a th:href="@{/courses/create}"><button type="button" class="btn btn-primary btn-block"> afegir curs</button></a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>