<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
    >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<div class="container">
    <!--   <div class="dropdown show float-left">
        <a class="btn btn-secondary dropdown-toggle"
           href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        >
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div> -->

    <div style="text-align: left">
        <a href="home.html"><img src="img/home.png" border="0"></a>
    </div>
    <div style="text-align: center">
        <h2 class="display-2"> CURSOS </h2>
    </div>
    <div>
        <div style="background-color: red"
             th:each="course: ${courseList}">
            <div style="alignment: left">
                <button type="button" class="btn btn-primary btn-block" style="background-color: red; text-align: left">
                    <p th:text="${course.level}"></p>
                </button>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>