<!DOCTYPE html>
<html lang="en">
<head>
    <link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    >
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        #wrapper {
            display: flex;
            justify-content: center;
        }
        button{
            height: 100px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center">Què vols fer?</h1>
    <div class="container">
        <div id = "wrapper">
            <a href="courses.html">
                <button type="button" class="btn btn-danger">Couros</button>
            </a>
            <a href="/logout">
                <button type="button" class="btn btn-danger"> Log out </button>
            </a>
            <a href="students.html">
                <button type="button" class="btn btn-danger">students</button>
            </a>
        </div>
    </div>
</body>
</html>